// @font-face {
//   font-family: 'hiragino-w3';
//   src:  url('/assets/font/hiragino-mincho-pro-w3.otf') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'hiragino-w6';
//   src:  url('/assets/font/hiragino-mincho-pro-w6.otf') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }