
@mixin absoluteItemCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin bgCoverCenter {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
