.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

@media (max-width: 576px) {
  .container {
    max-width: 667px !important;
    padding: 0 50px !important; } }
@media (min-width: 767px) {
  .container {
    width: 667px;
    padding: 0 50px; } }
@media (min-width: 992px) {
  .container {
    width: 870px;
    padding: 0 50px; } }
@media (min-width: 1200px) {
  .container {
    width: 1070px;
    padding: 0 50px; } }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hidden {
  display: none; }

.show {
  display: block; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.color-white {
  color: #ffffff; }

.color-black {
  color: #1C1C1C !important; }

.color-pri {
  color: #C19B76 !important; }

.color-gray {
  color: #85858A !important; }

.bg-pri {
  background-color: #C19B76; }

.bg-white {
  background-color: #ffffff; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0); }

.border-white {
  border: 1px solid #ffffff !important; }

.border-pri {
  border: 1px solid #C19B76 !important; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.flex-center {
  justify-content: center; }

.flex-left {
  justify-content: flex-start; }

.flex-right {
  justify-content: flex-end; }

.flex-middle {
  align-items: center; }

.flex-between {
  justify-content: space-between; }

.transform-t-center {
  left: 50%;
  transform: translateX(-50%); }

.transform-l-center {
  left: 50%;
  transform: translateX(-50%); }

.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.custom-flex-column {
  display: flex;
  flex-direction: column; }

.flex-item-fullfill {
  flex: 1 0 auto; }

.font-pri {
  font-family: 'Playfair Display', serif !important;
  font-size: 1.5rem !important; }

.font-nd {
  font-family: "Open Sans", sans-serif !important; }

.small,
small {
  font-size: 80%; }

.text-ellipsis {
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box; }

.hidden-scroll {
  overflow: hidden; }

.no-scroll {
  overflow: hidden; }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
.title-common {
  font-size: 5.5rem;
  line-height: 5.5rem;
  margin-bottom: 30px;
  color: #ffffff; }
  @media (max-width: 575px) {
    .title-common {
      font-size: 5rem;
      margin-bottom: 20px; } }
  @media (max-width: 490px) {
    .title-common {
      font-size: 4rem; } }

.desc-common {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 100; }

.txt-general {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 100;
  text-align: center;
  color: #85858A; }
  @media (max-width: 575px) {
    .txt-general {
      font-size: 1.6rem; } }

.cross-common {
  position: relative; }

.cross-common:before {
  content: "";
  transform: rotate(135deg);
  position: absolute;
  width: 20%;
  height: 1px;
  left: 38%;
  top: 50%;
  border-bottom: 1px solid #C19B76; }
  @media (max-width: 991px) {
    .cross-common:before {
      width: 30%;
      top: 47%; } }
  @media (max-width: 991px) {
    .cross-common:before {
      width: 40%;
      left: 30%;
      top: 50%; } }
  @media (max-width: 767px) {
    .cross-common:before {
      width: 50%; } }
  @media (max-width: 492px) {
    .cross-common:before {
      width: 350px;
      left: 5%; } }
  @media (max-width: 400px) {
    .cross-common:before {
      width: 350px;
      left: -30px; } }
  @media (max-width: 350px) {
    .cross-common:before {
      width: 350px;
      left: -60px; } }

.btn-pri {
  font-size: 1.2rem;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 30px;
  border: none; }

.btn-pri:focus {
  border: none;
  outline: none; }

.hover-overlay:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  color: #C19B76; }

.hover-black:hover {
  color: #1C1C1C !important; }

.hover-white:hover {
  background-color: #ffffff;
  color: #C19B76;
  transition: 0.5s; }

.hover-pri:hover {
  background-color: #C19B76;
  color: #ffffff !important;
  transition: 0.5s; }

.txt-hover-pri:hover {
  color: #C19B76 !important; }

.overlay-common:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2); }

.padding-common {
  padding: 50px 0; }

.img-card {
  position: relative; }
  .img-card__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    background-position: center; }
  .img-card__img:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: 1px solid #C19B76;
    visibility: hidden;
    z-index: 2;
    transition: 0.3s; }
  .img-card__img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s; }
  .img-card__content {
    text-align: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    top: 54%;
    width: 70%;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0; }
    .img-card__content .img-card__label {
      font-size: 4rem;
      font-weight: 400;
      color: #ffffff;
      position: relative;
      margin-bottom: 20px; }
    .img-card__content .img-card__label:after {
      content: "";
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 20px;
      border-left: 1px solid #C19B76; }

.img-card:hover .img-card__img:before {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  visibility: visible;
  transition: 0.5s; }
.img-card:hover .img-card__img:after {
  background-color: rgba(0, 0, 0, 0.8); }
.img-card:hover .img-card__content {
  top: 50%;
  visibility: visible;
  transition: 0.5s;
  opacity: 1; }
.img-card:hover .img-card__label-bott {
  opacity: 0;
  transition: 0.3s; }

.desc-general {
  font-size: 1.4rem;
  color: #d1d2d3;
  font-weight: 100;
  font-family: "Open Sans", sans-serif; }

.smtitle-common {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #ffffff;
  margin-bottom: 0; }

.second-title {
  font-size: 3.8rem;
  line-height: 4.8rem; }

.banner-common {
  height: 450px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5; }
  .banner-common__content {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5; }
  .banner-common__desc {
    font-family: "Open Sans", sans-serif;
    margin-top: -5px; }
  .banner-common__currentpage {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    bottom: 0;
    left: 50.2%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 5; }
    .banner-common__currentpage a {
      color: #C19B76;
      font-size: 1.5rem; }
    .banner-common__currentpage a:hover {
      color: #ffffff; }
    .banner-common__currentpage p {
      margin-left: 10px; }

.location-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff; }
  @media (max-width: 992px) {
    .location-card {
      margin-bottom: 30px; } }
  .location-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center; }
  .location-card__txt {
    padding: 30px 50px; }
    @media (max-width: 767px) {
      .location-card__txt {
        padding: 30px; } }
    @media (max-width: 575px) {
      .location-card__txt {
        padding: 20px; } }
    .location-card__txt .location-card__title {
      margin-bottom: 20px; }
      @media (max-width: 992px) {
        .location-card__txt .location-card__title {
          margin-top: 30px; } }
      @media (max-width: 575px) {
        .location-card__txt .location-card__title {
          margin-top: 15px; } }
    .location-card__txt .location-card__desc {
      margin-bottom: 20px; }

.location-card:last-child {
  margin-bottom: 0; }

.room-card {
  background-color: #f5f5f5;
  margin-bottom: 35px; }
  .room-card__text {
    padding: 40px;
    transition: 0.3s; }
    .room-card__text .room-card__rate {
      font-size: 1.2rem; }
    .room-card__text .room-card__title {
      font-size: 2.4rem; }
    .room-card__text .room-card__fastsee {
      font-weight: 400;
      margin: 10px 0; }
    .room-card__text .room-card__btn {
      margin-top: 30px;
      padding: 10px 35px; }
  .room-card__img {
    transition: 0.3s; }
    .room-card__img img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      object-fit: cover; }

.room-card:last-child {
  margin-bottom: 0; }

.room-card:hover .room-card__text {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s; }
.room-card:hover .room-card__img {
  filter: brightness(60%);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }

/* site */
/*!
 * Bootstrap Reboot v4.1.0 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; }

@-ms-viewport {
  width: device-width; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  word-spacing: 3.5px; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover, a:not(:hover) {
  text-decoration: none;
  transition: 0.3s; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

/*# sourceMappingURL=bootstrap-reboot.css.map */
.no-m {
  margin: 0; }

.no-tm {
  margin-top: 0; }

.no-bm {
  margin-bottom: 0; }

.no-p {
  padding: 0; }

.no-lp {
  padding-left: 0; }

.clear-fix {
  clear: both; }

.app {
  background-color: #ffffff;
  margin-bottom: 275px;
  z-index: 2; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3); }
  .header .header-nav {
    height: 80px;
    display: flex;
    align-items: center; }
    @media (max-width: 490px) {
      .header .header-nav {
        height: 60px; } }
    .header .header-nav__logo .header-nav__logo-link {
      display: block; }
    .header .header-nav .header-nav__list {
      padding: 0;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-right: -18px; }
      @media (max-width: 992px) {
        .header .header-nav .header-nav__list {
          display: block;
          position: fixed;
          top: 0;
          width: 321px;
          bottom: 0;
          height: 100vh;
          background-color: #1C1C1C;
          right: 0px;
          text-align: right;
          padding: 100px 50px;
          right: -100%;
          transition: right 0.5s;
          margin-bottom: 0; } }
      @media (max-width: 322px) {
        .header .header-nav .header-nav__list {
          right: -150%; } }
    .header .header-nav__list.show {
      right: 0;
      transition: 0.3s; }
    .header .header-nav__item {
      margin-right: 37px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 100;
      font-family: "Open Sans", sans-serif;
      line-height: 1;
      cursor: pointer; }
      @media (max-width: 992px) {
        .header .header-nav__item {
          margin-right: 0;
          font-size: 1.5rem;
          margin-bottom: 30px; } }
      @media (max-width: 992px) {
        .header .header-nav__item {
          font-size: 1.4rem; } }
      .header .header-nav__item-link {
        color: #ffffff;
        font-size: 14px;
        font-weight: 100;
        font-family: "Open Sans", sans-serif;
        line-height: 0; }
        @media (max-width: 992px) {
          .header .header-nav__item-link {
            font-size: 1.4rem; } }
      .header .header-nav__item-link:hover {
        text-decoration: none;
        color: #C19B76; }
    .header .header-nav__item.active {
      color: #C19B76 !important; }
      .header .header-nav__item.active .header-nav__item-link {
        color: #C19B76 !important; }
    .header .header-nav__item:last-child {
      margin-right: 20px; }
      @media (max-width: 992px) {
        .header .header-nav__item:last-child {
          margin-right: 0;
          margin-top: 45px; } }
      .header .header-nav__item:last-child .header-submenu__link {
        font-family: 'Playfair Display', serif; }
    .header .header-nav__control {
      font-size: 3rem;
      color: #ffffff;
      display: none;
      z-index: 2; }
      @media (max-width: 992px) {
        .header .header-nav__control {
          display: flex;
          align-items: center; } }
      .header .header-nav__control .header-nav__control-show {
        display: none; }
        @media (max-width: 992px) {
          .header .header-nav__control .header-nav__control-show {
            display: block; } }
  .header .show-submenu {
    position: relative; }
  .header .show-submenu:hover .header-submenu {
    top: 46px;
    visibility: visible;
    transition: 0.4s;
    opacity: 1;
    display: block; }
  .header .show-submenu:not(:hover) .header-submenu {
    transition: 0.5s; }
  .header .show-submenu:before {
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 9px;
    left: 0;
    height: 40px;
    content: ""; }
  .header .header-submenu {
    position: absolute;
    background-color: #1C1C1C;
    width: 178px;
    font-family: "Open Sans", sans-serif;
    left: -12px;
    top: 85px;
    transition: top 0.5s;
    visibility: hidden;
    opacity: 0;
    padding: 10px 0; }
    @media (max-width: 992px) {
      .header .header-submenu {
        position: static;
        visibility: hidden;
        width: auto;
        opacity: 0;
        margin-right: 0;
        font-family: 'Playfair Display', serif;
        display: none; } }
    @media (max-width: 992px) {
      .header .header-submenu__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end; } }
    .header .header-submenu__item {
      padding: 13px 18px; }
      @media (max-width: 992px) {
        .header .header-submenu__item {
          padding: 10px 13px; } }
      .header .header-submenu__item .header-submenu__link {
        color: #ffffff;
        font-size: 1.4rem;
        right: 0;
        position: relative;
        transition: right 0.5s;
        font-weight: 400; }
        @media (max-width: 992px) {
          .header .header-submenu__item .header-submenu__link {
            font-weight: 100;
            color: #85858A; } }
      .header .header-submenu__item .header-submenu__link:hover {
        color: #C19B76;
        right: -10px; }
  .header .header-submenu.w-auto {
    width: auto; }
    .header .header-submenu.w-auto .header-submenu__link:hover {
      right: 0; }

.header-fixed {
  transition: 0.3s;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); }
  .header-fixed .header-navbar {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
  .header-fixed .header-nav__logo-white {
    display: none; }
  .header-fixed .header-nav__logo-default {
    display: block; }
  .header-fixed .header-nav__item {
    color: #1C1C1C; }
    @media (max-width: 992px) {
      .header-fixed .header-nav__item {
        color: #ffffff; } }
  .header-fixed .header-nav__item.active {
    color: #C19B76; }
  .header-fixed .header-nav__item-link {
    color: #1C1C1C; }
    @media (max-width: 992px) {
      .header-fixed .header-nav__item-link {
        color: #ffffff; } }
  .header-fixed .header-nav__control {
    color: #1C1C1C; }

.home {
  padding-bottom: 70px; }
  .home-banner {
    position: relative; }
    .home-banner .home-banner__img {
      height: 90vh;
      object-fit: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      @media (max-width: 992px) {
        .home-banner .home-banner__img {
          height: 100vh; } }
    .home-banner .home-banner__wrap {
      padding: 0;
      padding-top: 14.5%;
      z-index: 5; }
      @media (max-width: 992px) {
        .home-banner .home-banner__wrap {
          padding-top: 23%; } }
      @media (max-width: 575px) {
        .home-banner .home-banner__wrap {
          padding-top: 30%; } }
      @media (max-width: 490px) {
        .home-banner .home-banner__wrap {
          padding-top: 38%; } }
    .home-banner .home-banner__btn {
      margin-top: 37px; }
  .home .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .home .slick-next {
    display: none !important; }
  .home .slick-prev {
    display: none !important; }
  .home .slick-arrow {
    display: none !important; }
  .home .slick-dots {
    bottom: 35px;
    left: 185px;
    width: auto; }
  .home .slick-dots li button::before {
    content: "";
    width: 18px;
    height: 5px;
    background-color: #1C1C1C;
    opacity: 1; }
  .home .slick-dots li.slick-active button::before {
    background-color: #ffffff;
    opacity: 1; }
  .home-service__desc {
    padding: 100px 0;
    font-family: "Open Sans", sans-serif; }
  .home-service__grid {
    display: grid;
    grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
    grid-template-rows: 468px 375px 468px;
    grid-gap: 20px; }
    @media (max-width: 1200px) {
      .home-service__grid {
        grid-template-columns: repeat(2, calc(50% - 10px));
        grid-template-rows: repeat(5, 350px);
        grid-row-gap: 20px;
        grid-column-gap: 20px; } }
    @media (max-width: 575px) {
      .home-service__grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(9, 475px); } }
    @media (max-width: 490px) {
      .home-service__grid {
        grid-template-rows: repeat(9, 380px); } }
    @media (max-width: 400px) {
      .home-service__grid {
        grid-template-rows: repeat(9, 300px); } }
    .home-service__grid .home-service__label {
      position: absolute;
      bottom: 50px;
      left: 50px;
      color: #ffffff;
      font-size: 2.4rem;
      opacity: 1;
      transition: 0.3s; }
    .home-service__grid .home-service__card:nth-child(5) {
      height: 468px;
      background-color: #202020; }
      @media (max-width: 1200px) {
        .home-service__grid .home-service__card:nth-child(5) {
          height: 100%; } }
      .home-service__grid .home-service__card:nth-child(5) .img-card__content {
        visibility: visible;
        opacity: 1; }
      .home-service__grid .home-service__card:nth-child(5) .img-card__img:before {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        z-index: 2;
        visibility: visible; }
    .home-service__grid .home-service__card:nth-child(8) {
      margin-top: calc(468px - 375px);
      height: 375px; }
      @media (max-width: 1200px) {
        .home-service__grid .home-service__card:nth-child(8) {
          height: 100%;
          margin-top: 0;
          width: calc(200% + 20px); } }
      @media (max-width: 575px) {
        .home-service__grid .home-service__card:nth-child(8) {
          width: 100%; } }
    @media (max-width: 1200px) {
      .home-service__grid .home-service__card:nth-of-type(8) {
        grid-row: 5; } }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #202020; }
  .footer-container {
    align-items: center; }
  .footer-content {
    padding: 50px 0; }
  @media (max-width: 992px) {
    .footer-left {
      margin-bottom: 35px; } }
  @media (max-width: 575px) {
    .footer-left {
      display: block !important; } }
  .footer .footer-weather__cencius {
    color: #ffffff;
    align-items: center; }
    .footer .footer-weather__cencius i {
      font-size: 3rem;
      margin-right: 20px; }
    .footer .footer-weather__cencius .footer-weather__number {
      font-size: 3.8rem; }
      .footer .footer-weather__cencius .footer-weather__number sup {
        margin-left: 4px;
        font-size: 50%; }
  .footer .footer-connect__social {
    margin-top: 25px; }
    .footer .footer-connect__social a {
      width: 30px;
      height: 30px;
      background-color: #323232;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px; }
    .footer .footer-connect__social a:hover {
      background-color: #C19B76; }
    .footer .footer-connect__social i {
      color: #ffffff;
      font-size: 1.4rem; }
  .footer .footer-signup__mail {
    width: 100%;
    height: 40px;
    background-color: #323232;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; }
    .footer .footer-signup__mail .footer-signup__input {
      width: calc(100% - 80px);
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      outline: none;
      border: none;
      font-size: 1.4rem;
      color: #d1d2d3;
      padding-left: 10px; }
    .footer .footer-signup__mail .footer-signup__input:focus {
      outline: none;
      border: none; }
    .footer .footer-signup__mail .footer-signup__btn {
      width: 80px;
      padding: 0; }
  .footer .footer-widget {
    padding: 20px 0;
    background-color: #1C1C1C; }
    @media (max-width: 992px) {
      .footer .footer-widget .footer-directional {
        margin-bottom: 25px; } }
    @media (max-width: 490px) {
      .footer .footer-widget .footer-directional {
        text-align: center; } }
    .footer .footer-widget .footer-directional__link {
      text-decoration: none;
      font-size: 1.4rem;
      color: #ffffff;
      padding-right: 18px; }
    .footer .footer-widget .footer-directional__link:hover {
      color: #C19B76; }
    .footer .footer-widget .footer-auther {
      display: flex;
      font-family: "Open Sans", sans-serif;
      color: #ffffff;
      padding: 0; }
      .footer .footer-widget .footer-auther__link {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 100;
        color: #ffffff;
        margin-right: 20px; }
      .footer .footer-widget .footer-auther__link:hover {
        color: #C19B76; }
      .footer .footer-widget .footer-auther__permission {
        font-size: 1.1rem;
        font-family: "Open Sans", sans-serif; }

.location .location-head {
  padding: 50px 0 40px 0;
  background-color: #ffffff;
  text-align: center; }
  @media (max-width: 992px) {
    .location .location-head {
      padding: 30px 0; } }
  .location .location-head__desc {
    margin: 36px 0;
    font-family: "Open Sans", sans-serif; }
  .location .location-head__smdesc {
    font-family: "Open Sans", sans-serif;
    color: #85858A; }
    @media (max-width: 767px) {
      .location .location-head__smdesc {
        display: block; } }
.location-content {
  padding: 50px;
  background-color: #f6f6f6; }
  @media (max-width: 767px) {
    .location-content {
      padding: 30px; } }
.location-content__select {
  color: #C19B76;
  font-size: 1.3rem;
  margin-top: 40px; }
  @media (max-width: 992px) {
    .location-content__select {
      padding-bottom: 30px; } }
  .location-content__select a {
    color: #C19B76;
    font-size: 1.6rem;
    position: relative; }
    .location-content__select a i {
      position: absolute;
      top: 3px;
      right: -20px;
      transition: right 0.5s; }
  .location-content__select a:hover i {
    right: -25px;
    transition: 0.5s; }

.room-content {
  padding-bottom: 50px; }
  .room-content__intro {
    padding: 100px 0;
    font-family: "Open Sans", sans-serif; }

.page-gallery__list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 250px); }
  @media (max-width: 991px) {
    .page-gallery__list {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(4, 300px); } }
  @media (max-width: 575px) {
    .page-gallery__list {
      display: block; } }
@media (max-width: 575px) {
  .page-gallery__item {
    height: 400px; } }
@media (max-width: 400px) {
  .page-gallery__item {
    height: 350px; } }
@media (max-width: 350px) {
  .page-gallery__item {
    height: 300px; } }
.page-gallery__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }
  .page-gallery__link .page-gallery__img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover; }
.page-gallery__link:after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  top: 58%;
  z-index: 5;
  font-size: 5.5rem;
  transition: top 0.3s;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0; }
.page-gallery__link:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s; }
.page-gallery__item:hover .page-gallery__link:after {
  top: 50%;
  transition: 0.3s;
  visibility: visible;
  opacity: 1; }
.page-gallery__item:hover .page-gallery__link:before {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s; }

.blog-content {
  background-color: #f6f6f6;
  padding: 50px 0; }
@media (max-width: 991px) {
  .blog .blog-left {
    margin-bottom: 100px; } }
.blog .blog-left__item {
  transition: 0.3s;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 50px;
  padding-right: 34px; }
  @media (max-width: 991px) {
    .blog .blog-left__item {
      padding: 0; } }
.blog .blog-left__item:last-child {
  margin-bottom: 0; }
.blog .blog-left__link {
  height: 100%; }
.blog .blog-left__title {
  color: #1C1C1C; }
.blog .blog-left__subtitle {
  color: #C19B76;
  transition: 0.3s; }
.blog .blog-left__date {
  margin-left: 15px;
  transition: 0.3s; }
.blog .blog-left__item:hover .blog-left__title {
  color: #C19B76;
  transition: 0.3s; }
.blog .blog-left__item:hover .blog-left__subtitle {
  color: #85858A;
  transition: 0.3s; }
.blog .blog-left__txt {
  background-color: #ffffff; }
.blog .blog-right {
  padding-left: 52px; }
  @media (max-width: 991px) {
    .blog .blog-right {
      padding: 0; } }
  .blog .blog-right__search {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 2px; }
    .blog .blog-right__search .blog-right__search-input {
      width: calc(100% - 40px);
      height: 100%;
      outline: none;
      border: none;
      font-size: 1.4rem;
      padding-left: 10px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .blog .blog-right__search .blog-right__search-btn {
      width: 40px;
      padding: 5px 10px;
      font-size: 1.5rem;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
    .blog .blog-right__search .blog-right__search-input:focus {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2); }
  @media (max-width: 991px) {
    .blog .blog-right__item {
      padding: 0; } }
.blog .blog-textbox {
  margin-top: 60px; }
  .blog .blog-textbox__desc {
    margin-top: 20px; }
  .blog .blog-textbox__wrap {
    margin-top: 20px;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif !important; }
.blog .blog-recentpost {
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  grid-template-rows: 60px;
  grid-gap: 10px;
  margin-bottom: 35px; }
  .blog .blog-recentpost__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover; }
  .blog .blog-recentpost__date {
    margin: 0;
    font-size: 1.3rem; }
  .blog .blog-recentpost__txt {
    margin: auto 0; }
.blog .blog-control {
  margin-top: 50px; }
  @media (max-width: 991px) {
    .blog .blog-control {
      margin-top: 20px; } }
  .blog .blog-control__btn {
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 450px) {
      .blog .blog-control__btn {
        min-width: 50px !important; }
        .blog .blog-control__btn p {
          display: none; } }
  .blog .blog-control__left {
    margin-right: 15px; }
  .blog .blog-control__right {
    margin-left: 15px; }

.contact-content .contact-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0; }
  @media (max-width: 767px) {
    .contact-content .contact-grid {
      padding: 40px 0; } }
.contact-content .contact-left {
  padding-right: 60px; }
  @media (max-width: 767px) {
    .contact-content .contact-left {
      padding-right: 0;
      margin-bottom: 70px; } }
  @media (max-width: 575px) {
    .contact-content .contact-left {
      padding-right: 0;
      margin-bottom: 50px; } }
  .contact-content .contact-left__desc {
    font-family: "Open Sans", sans-serif !important;
    text-align: left;
    padding-top: 20px;
    margin-top: 20px;
    position: relative; }
  .contact-content .contact-left__desc:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top: 0.5px solid #C19B76;
    width: 38px; }
  .contact-content .contact-left__smdesc {
    margin: 40px 0; }
    @media (max-width: 767px) {
      .contact-content .contact-left__smdesc {
        margin: 20px 0; } }
.contact-content .contact-address span {
  font-weight: 400;
  color: black;
  font-size: 1.7rem;
  font-family: "Open Sans", sans-serif; }
.contact-content .contact-right {
  margin: auto 0;
  padding-left: 60px; }
  @media (max-width: 767px) {
    .contact-content .contact-right {
      padding-left: 0; } }
  .contact-content .contact-right__input {
    height: 40px;
    font-size: 1.4rem;
    border: none;
    background-color: #f6f6f6;
    margin-bottom: 25px;
    font-family: "Open Sans", sans-serif; }
  .contact-content .contact-right__input:focus, .contact-content .contact-right__txtarea:focus {
    outline: none;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); }
  .contact-content .contact-right__txtarea {
    height: 100px;
    border: none;
    font-size: 1.4rem;
    border: none;
    background-color: #f6f6f6;
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif; }
    @media (max-width: 767px) {
      .contact-content .contact-right__txtarea {
        margin-bottom: 30px; } }

.contact-map {
  width: 100%;
  height: 500px;
  filter: brightness(95%); }
  @media (max-width: 767px) {
    .contact-map {
      height: 450px; } }
  @media (max-width: 575px) {
    .contact-map {
      height: 380px; } }
  @media (max-width: 480px) {
    .contact-map {
      height: 320px; } }
  .contact-map iframe {
    height: 100%;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
