.blog{
	
	&-content{
		background-color: #f6f6f6;
		padding: 50px 0;
	}

	.blog-left{
		@media (max-width: 991px){
				margin-bottom: 100px;
			}
		&__item{
			transition: 0.3s;
			padding-right: 0;
			padding-left: 0;
			margin-bottom: 50px;
			padding-right: 34px;
			@media (max-width: 991px){
				padding: 0;
			}

		}
		&__item:last-child{
			margin-bottom: 0;
		}
		&__link{
			height: 100%;
		}
		&__title{
			color:$color-black;
		}
		&__subtitle{
			color: $color-primary;
			transition: 0.3s;
		}
		&__date{
			margin-left: 15px;
			transition: 0.3s;
		}
		&__item:hover{
			.blog-left__title{
				color: $color-primary;
				transition: 0.3s;
			}
			.blog-left__subtitle{
				color: $color-gray;
				transition: 0.3s;
			}
		}
		&__img{
			img{
			}
		}
		&__txt{

			background-color: $color-white;
		}
	}
	.blog-right{
		padding-left: 52px;
		@media (max-width: 991px){
				padding: 0;
			}
		&__search{
			width: 100%;
			height: 40px;
			display: flex;
			flex-wrap: wrap;
			background-color: $color-white;
			border-radius: 2px;
			.blog-right__search-input{
				width: calc(100% - 40px);
				height: 100%;
				outline: none;
				border: none;
				font-size: 1.4rem;
				padding-left: 10px;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}
			.blog-right__search-btn{
				width: 40px;
				padding: 5px 10px;
				font-size: 1.5rem;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
			}
			.blog-right__search-input:focus {
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
			}
		}
		&__item{
			@media (max-width: 991px){
				padding: 0;
			}
		}		
	}
	.blog-textbox{
		margin-top: 60px;
		&__desc{
			margin-top: 20px;
		}
		&__wrap{
			margin-top: 20px;
			font-size: 1.4rem;
			font-family: "Open Sans", sans-serif !important;
		}
		&__link{

		}
	}
	.blog-recentpost{
		display: grid;
		grid-template-columns: 60px calc(100% - 60px);
		grid-template-rows: 60px;
		grid-gap: 10px;
		margin-bottom: 35px;
		&__img{
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				background-size: cover;
			}
		}
		&__date{
			margin: 0;
			font-size: 1.3rem;
		}
		&__txt{
			margin: auto 0;
		}
	}
	.blog-control{
		margin-top: 50px;

		@media (max-width: 991px){
				margin-top: 20px;
			}
		&__btn{
			min-width: 165px;
			display: flex;
			align-items: center;
			justify-content: center;
			@media (max-width: 450px){
				min-width: 50px !important;
				p{
					display: none;
				}
			}
		}
		&__left{
				margin-right: 15px;
		}
		&__right{
		margin-left: 15px;
		}
	}
}