 .container {

     @media (max-width: 576px) {
         max-width: 667px !important;
         padding: 0 50px !important;
     }

     @media (min-width: 767px) {
         width: 667px;
         padding: 0 50px;
     }

     @media (min-width: 992px) {
         width: 870px;
         padding: 0 50px;
     }

     @media (min-width: 1200px) {
         width: 1070px;
         padding: 0 50px;
     }
 }

 .pull-left {
     float: left;
 }

 .pull-right {
     float: right;
 }

 .hidden {
     display: none;
 }

 .show {
     display: block;
 }

 // text utilities
 .text-uppercase {
     text-transform: uppercase;
 }

 .text-capitalize {
     text-transform: capitalize;
 }

 .color-white {
     color: $color-white;
 }
.color-black{
    color: $color-black !important;
}
 .color-pri {
     color: $color-primary !important;
 }

 .color-gray {
     color: $color-gray !important;
 }

 .bg-pri {
     background-color: $color-primary;
 }

 .bg-white {
     background-color: $color-white;
 }

 .bg-overlay {
     background-color: rgba(0, 0, 0, 0);
 }

 .border-white {
     border: 1px solid $color-white !important;
 }

 .border-pri {
     border: 1px solid $color-primary !important;
 }

 .align-left {
     text-align: left;
 }

 .align-center {
     text-align: center;
 }

 .flex-center {
     justify-content: center;
 }

 .flex-left {
     justify-content: flex-start;
 }

 .flex-right {
     justify-content: flex-end;
 }

 .flex-middle {
     align-items: center;
 }

 .flex-between {
     justify-content: space-between;
 }

 // transform class using with element position not static
 .transform-t-center {
     left: 50%;
     transform: translateX(-50%);
 }

 .transform-l-center {
     left: 50%;
     transform: translateX(-50%);
 }

 .transform-center {
     @include absoluteItemCenter;
 }

 .custom-flex-column {
     display: flex;
     flex-direction: column;
 }

 .flex-item-fullfill {
     flex: 1 0 auto;
 }

 .font-pri {
     font-family: 'Playfair Display', serif !important;
     font-size: 1.5rem !important;
 }

 .font-nd {
     font-family: "Open Sans", sans-serif !important;
 }

 .small,
 small {
     font-size: 80%;
 }

 .text-ellipsis {
     white-space: normal;
     text-overflow: ellipsis;
     -webkit-box-orient: vertical;
     overflow: hidden;
     display: -webkit-box;
 }

 .hidden-scroll {
     overflow: hidden;
 }

 .no-scroll {
     overflow: hidden;
 }

 @keyframes fadein {
     0% {
         opacity: 0;
     }

     50% {
         opacity: 0.5;
     }

     100% {
         opacity: 1;
     }
 }

 .title-common {
     font-size: 5.5rem;
     line-height: 5.5rem;
     margin-bottom: 30px;
     color: $color-white;

     @media (max-width: 575px) {
         font-size: 5rem;
         margin-bottom: 20px;
     }

     @media (max-width: 490px) {
         font-size: 4rem;
     }
 }

 .desc-common {
     font-size: 1.6rem;
     line-height: 2.6rem;
     font-weight: 100;
 }

 .txt-general {
     font-size: 1.8rem;
     line-height: 2.8rem;
     font-weight: 100;
     text-align: center;
     color: $color-gray;

     @media (max-width: 575px) {
         font-size: 1.6rem;
     }
 }

 .cross-common {
     position: relative;
 }

 .cross-common:before {
     content: "";
     transform: rotate(135deg);
     position: absolute;
     width: 20%;
     height: 1px;
     left: 38%;
     top: 50%;
     border-bottom: 1px solid $color-primary;
     @media (max-width: 991px) {
         width: 30%;
         top: 47%;
     }

     @media (max-width: 991px) {
         width: 40%;
         left: 30%;
         top: 50%;
     }
     @media (max-width: 767px) {
        width: 50%;
     }
     @media (max-width: 492px) {
        width: 350px;
        left: 5%;
     }
     @media (max-width: 400px) {
        width: 350px;
        left: -30px;
     }
     @media (max-width: 350px) {
        width: 350px;
        left: -60px;
     }
 }

 .btn-pri {
     font-size: 1.2rem;
     outline: none;
     color: $color-white;
     cursor: pointer;
     padding: 10px 30px;
     border: none;

 }

 .btn-pri:focus {
     border: none;
     outline: none;
 }

 .hover-overlay:hover {
     background-color: rgba(0, 0, 0, 0);
     transition: 0.5s;
     color: $color-primary;
 }
.hover-black:hover{
    color: $color-black !important;
}
 .hover-white:hover {
     background-color: $color-white;
     color: $color-primary;
     transition: 0.5s;
 }

 .hover-pri:hover {
     background-color: $color-primary;
     color: $color-white !important;
     transition: 0.5s;
 }
 .txt-hover-pri:hover{
    color: $color-primary !important;
 }

 .overlay-common:before {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     z-index: 2;
     background-color: rgba(0, 0, 0, 0.2);
 }

 .padding-common {
     padding: 50px 0;
 }

 .img-card {
     position: relative;

     &__img {
         img {
             width: 100%;
             height: 100%;
             position: absolute;
             object-fit: cover;
             background-position: center;
         }
     }

     &__img:before {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         content: "";
         border: 1px solid $color-primary;
         visibility: hidden;
         z-index: 2;
         transition: 0.3s;
     }

     &__img:after {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         content: "";
         background-color: rgba(0, 0, 0, 0.3);
         transition: 0.3s;
     }

     &__content {
         text-align: center;
         text-align: center;
         position: absolute;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 70%;
         top: 54%;
         width: 70%;
         transition: 0.3s;
         visibility: hidden;
         opacity: 0;

         .img-card__label {
             font-size: 4rem;
             font-weight: 400;
             color: $color-white;
             position: relative;
             margin-bottom: 20px;
         }

         .img-card__label:after {
             content: "";
             position: absolute;
             top: 110%;
             left: 50%;
             transform: translate(-50%, -50%);
             width: 1px;
             height: 20px;
             border-left: 1px solid $color-primary;
         }


     }

 }

 .img-card:hover {

     .img-card__img:before {
         top: 20px;
         right: 20px;
         bottom: 20px;
         left: 20px;
         visibility: visible;
         transition: 0.5s;
     }

     .img-card__img:after {
         background-color: rgba(0, 0, 0, 0.8);
     }

     .img-card__content {
         top: 50%;
         visibility: visible;
         transition: 0.5s;
         opacity: 1;
     }

     .img-card__label-bott {
         opacity: 0;
         transition: 0.3s;
     }

 }

 .desc-general {
     font-size: 1.4rem;
     color: #d1d2d3;
     font-weight: 100;
     font-family: "Open Sans", sans-serif;

 }

 .smtitle-common {
     font-size: 1.6rem;
     line-height: 2.6rem;
     color: $color-white;
     margin-bottom: 0;

 }

 .second-title {
     font-size: 3.8rem;
     line-height: 4.8rem;
 }

 .banner-common {
     height: 450px;
     @include bgCoverCenter;
     position: relative;
     z-index: 5;

     &__content {
         position: absolute;
         top: 52%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 5;
     }

     &__desc {
         font-family: "Open Sans", sans-serif;
         margin-top: -5px;
     }

     &__currentpage {
         font-family: "Open Sans", sans-serif;
         position: absolute;
         bottom: 0;
         left: 50.2%;
         transform: translate(-50%, -50%);
         color: $color-white;
         font-size: 1.5rem;
         font-weight: 400;
         z-index: 5;

         a {
             color: $color-primary;
             font-size: 1.5rem;
         }

         a:hover {
             color: $color-white;
         }

         p {
             margin-left: 10px;
         }
     }
 }

 .location-card {
     display: flex;
     flex-wrap: wrap;
     background-color: $color-white;

     @media (max-width: 992px) {
         margin-bottom: 30px;
     }

     &__img {
         img {
             width: 100%;
             height: 100%;
             object-fit: cover;
             background-size: cover;
             background-position: center;
         }

     }

     &__txt {
         padding: 30px 50px;

         @media (max-width: 767px) {
             padding: 30px;
         }
         @media (max-width: 575px) {
             padding: 20px;
         }

         .location-card__title {
             margin-bottom: 20px;

             @media (max-width: 992px) {
                 margin-top: 30px;
             }
             
             @media (max-width: 575px) {
                 margin-top: 15px;
             }
         }

         .location-card__desc {
             margin-bottom: 20px;
         }
     }
 }

 .location-card:last-child {
     margin-bottom: 0;
 }

 .room-card {
     background-color: #f5f5f5;
     margin-bottom: 35px;

     &__text {
         padding: 40px;
         transition: 0.3s;

         .room-card__rate {
             font-size: 1.2rem;
         }

         .room-card__title {
             font-size: 2.4rem;
         }

         .room-card__fastsee {
             font-weight: 400;
             margin: 10px 0;
         }

         .room-card__btn {
             margin-top: 30px;
             padding: 10px 35px;
         }
     }

     &__img {
         transition: 0.3s;

         img {
             width: 100%;
             height: 100%;
             background-position: center;
             background-size: cover;
             object-fit: cover;
         }

     }
 }
 .room-card:last-child{
    margin-bottom: 0;
 }
 .room-card:hover {
     .room-card__text {
         box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
         transition: 0.3s;
     }

     .room-card__img {
         filter: brightness(60%);
         box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
         transition: 0.3s;
     }
 }